@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,500;0,600;0,700;0,900;1,400&display=swap');
nav {
    display: flex;
    align-items: center;
    padding: 1rem 12rem;
    justify-content: space-between;
    /* border: 2px solid #826AED; */
    color: white;
    font-family: 'Montserrat', sans-serif;
        /* border-radius: 9px; */
        background-color: #E4BB97;
    /* background-color: #D1C9F8; */
    height: 20vh;
    
}
.firstBox   {
    font-size: 2.4rem;
   letter-spacing: 5px;
/* border-right: 2px solid #826AED; */
padding: 3.6rem 1.4rem;
font-weight: 700;
position: relative;
display: flex;
/* flex-direction: column;
width: 24rem;
height: 4rem;
overflow: hidden; */
}

.firstTextBox {
    position: relative;
    width: 24rem;
height: 4rem;
overflow: hidden;

}
.secondBox li, .firstBox h3 {
    cursor: pointer;

}
nav li {
    list-style: none;
}
.secondBox {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.8rem;
    padding: 2rem;
    color: white;
}
.firstText {
    color: white;
}



.slide-up-grand {
    animation: slideUpGrand .6s ease-out forwards;
position: absolute;
width: 24rem;
  }
  
  @keyframes slideUpGrand {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .slide-up {
    animation: slideUp .6s ease-out forwards;
    position: absolute;

  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  
 
